@using MyShop.Models.Entities
@{
    var name = (User.Identity.IsAuthenticated) ? ((Account)Profile["Account"]).UserName : "Гость";
}
<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Ultimo - Responsive Magento Theme | Demo 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Ultimo is a responsive Magento theme, extremely customizable, easy to use. Great as a starting point for your custom projects and suitable for every type of store." />
    <meta name="keywords" content="magento, theme, themes, magento premium theme, magento template, responsive theme" />
    <meta name="robots" content="INDEX,FOLLOW" />
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <link href='fonts.googleapis.com/css?family=Bitter: &amp;subset=latin' rel='stylesheet' type='text/css' />

    <script type="text/javascript" src="http://ultimo.infortis-themes.com/demo/media/js/f4c7af32d3d6bb8b8de4384b3ad571ca.js"></script>
 
    <!--<script type="text/javascript" src="~/Scripts/jquery-2.1.1.js"></script>
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="http://ultimo.infortis-themes.com/demo/media/css/deec10fc8f3a1907ce7d885da3b68b7a.css" media="all" />
    <![endif]-->

    <style type="text/css">
        .page {
            background-image: url(http://ultimo.infortis-themes.com/demo/media/wysiwyg/infortis/ultimo/_patterns/default/grain2.png);
        }

        .header-container2 {
            background-image: url(http://ultimo.infortis-themes.com/demo/media/wysiwyg/infortis/ultimo/_patterns/default/1.png);
        }

        .footer-container {
            background-image: url(http://ultimo.infortis-themes.com/demo/media/wysiwyg/infortis/ultimo/_patterns/default/grain2.png);
        }

        .footer-container2 {
            background-image: url(http://ultimo.infortis-themes.com/demo/media/wysiwyg/infortis/ultimo/_patterns/default/1.png);
        }
    </style>
</head>

<body class=" cms-index-index shadow cms-home ">

    <div id="root-wrapper">
        <div class="wrapper">
            <noscript>
                <div class="global-site-notice noscript">
                    <div class="notice-inner">
                        <p>
                            <strong>JavaScript seems to be disabled in your browser.</strong><br />
                            You must have JavaScript enabled in your browser to utilize the functionality of this website.
                        </p>
                    </div>
                </div>
            </noscript>
            <div class="page">
                <div class="header-container header-regular" id="top">
                    <div class="header-container2">
                        <div class="header-container3">

                            <div class="header-top-container">
                                <div class="header-top header container clearer  stretched">
                                    <div class="inner-container">

                                        <div class="block_header_top_left item item-left"><div class="hide-below-768" title="You can put here a phone number or some additional help info"><span class="ic ic-lg ic-skype"></span> Skype god_912</div></div>
                                        <div class="block_header_top_left2 item item-left">
                                            <div class="links-wrapper-separators hide-below-480">



                                            </div>
                                        </div>
                                        <div class="item item-left hide-below-960">
                                            <p class="welcome-msg">@Lang.WelcomeMsg @name ! </p>
                                        </div>


                                        <div id="lang-switcher-wrapper-regular" class="item item-right"></div>
                                        <div class="block_header_top_right2 item item-right">
                                            <div class="lang-switcher dropdown hide-below-768">

                                                <div class="dropdown-heading cover">
                                                    <div>
                                                        <div style="background-image:url(@Url.Content("~/images/flags/" + MyShopController.Region.ImageFile))" class="label dropdown-icon flag">&nbsp;</div>
                                                        <div class="value">@MyShopController.Region.Language</div>
                                                        <div class="caret">&nbsp;</div>
                                                    </div>
                                                </div>

                                                <ul class="dropdown-content left-hand">
                                                    @foreach (var reg in RegionManager.EnumerateRegions())
                                                    {
                                                        var iscurrent = (MyShopController.Region.Language == reg.Language) ? "current" : "";
                                                        <li class="@iscurrent">
                                                            @if (MyShopController.Region.Language != reg.Language)
                                                            {
                                                                <a href="@Url.Action("region", "service", new { region = reg.Name})"><span style="background-image:url(@Url.Content("~/images/flags/" + reg.ImageFile)" class="label dropdown-icon">&nbsp;</span>@reg.Language</a>
                                                            }
                                                            else
                                                            {
                                                                <span style="background-image:url(@Url.Content("~/images/flags/" + reg.ImageFile)" class="label dropdown-icon">&nbsp;</span>@reg.Language
                                                            }
                                                        </li>
                                                    }
                                                </ul>

                                            </div>
                                        </div>

                                    </div> <!-- end: inner-container -->
                                </div> <!-- end: header-top -->
                            </div> <!-- end: header-top-container -->

                            <div class="header-primary-container">
                                <div class="header-primary header container  stretched">
                                    <div class="inner-container">

                                        <div class="hp-blocks-holder skip-links--5">



                                            <!-- Mobile logo -->
                                            <div class="logo-wrapper--mobile">
                                                <a class="logo logo--mobile" href="http://ultimo.infortis-themes.com/demo/second2/">
                                                    <img src="@Url.Content("~/images/logo.png")" />
                                                </a>
                                            </div>
                                            <div class="clearer after-mobile-logo"></div>

                                            <!-- Skip Links -->

                                            <a href="#header-nav" class="skip-link skip-nav">
                                                <span class="icon ic ic-menu"></span>
                                                <span class="label">Menu</span>
                                            </a>

                                            <a href="#header-search" class="skip-link skip-search">
                                                <span class="icon ic ic-search"></span>
                                                <span class="label">Search</span>
                                            </a>

                                            <a href="#header-account" class="skip-link skip-account">
                                                <span class="icon ic ic-user"></span>
                                                <span class="label">Account</span>
                                            </a>



                                            <!-- Mobile cart wrapper -->
                                            <div id="mini-cart-wrapper-mobile"></div>

                                            <!-- Left column -->
                                            <div class="hp-block grid12-4">

                                                <div class="logo-wrapper logo-wrapper--regular">
                                                    <h1 class="logo logo--regular"><strong>Responsive Magento Theme</strong><img src="~/images/Logo.png" alt="Responsive Magento Theme" /></a></h1>
                                                </div>

                                            </div>

                                            <!-- Central column -->
                                            <!-- Right column -->
                                            <div class="hp-block user-menu clearer grid12-8">

                                                <div id="header-search" class="search-wrapper-p0  search-wrapper skip-content skip-content--style">
                                                    <form id="search_mini_form" action="http://ultimo.infortis-themes.com/demo/second2/catalogsearch/result/" method="get">
                                                        <div class="form-search">
                                                            <label for="search">Search:</label>
                                                            <input id="search" type="text" name="q" value="" class="input-text" maxlength="128" />
                                                            <button type="submit" title="Search" class="button"><span><span>Search</span></span></button>
                                                            <div id="search_autocomplete" class="search-autocomplete"></div>
                                                            <script type="text/javascript">
                                                                //<![CDATA[
                                                                var searchForm = new Varien.searchForm('search_mini_form', 'search', 'Search entire store here...');
                                                                searchForm.initAutocomplete('http://ultimo.infortis-themes.com/demo/second2/catalogsearch/ajax/suggest/', 'search_autocomplete');
                                                                //]]>
                                                            </script>
                                                        </div>
                                                    </form>
                                                </div>


                                                <div id="mini-cart-wrapper-regular">

                                                    <div id="mini-cart" class="mini-cart dropdown is-empty">

                                                        <a href="#header-cart" class="mini-cart-heading dropdown-heading cover skip-link skip-cart">
                                                            <span>

                                                                <span class="icon ic ic-cart"></span>
                                                                <span class="label">Корзина</span>
                                                                <span class="caret">&nbsp;</span>

                                                            </span>
                                                        </a> <!-- end: heading -->

                                                        <div id="header-cart" class="mini-cart-content dropdown-content left-hand block block block-cart skip-content skip-content--style">
                                                            <div class="block-content-inner">

                                                                <div class="empty">You have no items in your shopping cart.</div>

                                                            </div> <!-- end: inner block -->
                                                        </div> <!-- end: dropdown-content -->

                                                    </div> <!-- end: mini-cart -->

                                                </div>



                                                <div id="header-account" class="top-links links-wrapper-separators-left skip-content skip-content--style">

                                                    <ul class="links">
                                                        <li class="first">@Html.ActionLink("Account", "Index", "Account")</li>
                                                        <li class="last">@Html.ActionLink("Log in", "Login", "Account")</li>
                                                    </ul>
                                                </div> <!-- end: top-links -->



                                            </div> <!-- end: user-menu -->

                                        </div> <!-- end: v-grid-container -->

                                    </div> <!-- end: inner-container -->
                                </div> <!-- end: header-primary -->
                            </div> <!-- end: header-primary-container -->
                            @Html.Partial("MainMenu")

                        </div> <!-- end: header-container3 -->
                    </div> <!-- end: header-container2 -->
                </div> <!-- end: header-container -->
                @RenderBody()


                <script type="text/javascript">
//<![CDATA[


		var SmartHeader = {

			mobileHeaderThreshold : 770
			, rootContainer : jQuery('.header-container')

			, init : function()
			{
				enquire.register('(max-width: ' + (SmartHeader.mobileHeaderThreshold - 1) + 'px)', {
					match: SmartHeader.moveElementsToMobilePosition,
					unmatch: SmartHeader.moveElementsToRegularPosition
				});
			}

			, activateMobileHeader : function()
			{
				SmartHeader.rootContainer.addClass('header-mobile').removeClass('header-regular');
			}

			, activateRegularHeader : function()
			{
				SmartHeader.rootContainer.addClass('header-regular').removeClass('header-mobile');
			}

			, moveElementsToMobilePosition : function()
			{
				SmartHeader.activateMobileHeader();

				jQuery('#mini-cart-wrapper-mobile').prepend(jQuery('#mini-cart'));
				jQuery('.skip-active').removeClass('skip-active');

				//Disable dropdowns
				jQuery('#mini-cart').removeClass('dropdown');
				jQuery('#mini-compare').removeClass('dropdown');

				//Clean up after dropdowns: reset the "display" property
				jQuery('#header-cart').css('display', '');
				jQuery('#header-compare').css('display', '');

			}

			, moveElementsToRegularPosition : function()
			{
				SmartHeader.activateRegularHeader();

				jQuery('#mini-cart-wrapper-regular').prepend(jQuery('#mini-cart'));
				jQuery('.skip-active').removeClass('skip-active');

				//Enable dropdowns
				jQuery('#mini-cart').addClass('dropdown');
				jQuery('#mini-compare').addClass('dropdown');
			}

		}; //end: SmartHeader

		SmartHeader.init();

		jQuery(function($) {

			//Skip Links
			var skipContents = $('.skip-content');
			var skipLinks = $('.skip-link');

			skipLinks.on('click', function (e) {
				e.preventDefault();

				var self = $(this);
				var target = self.attr('href');

				//Get target element
				var elem = $(target);

				//Check if stub is open
				var isSkipContentOpen = elem.hasClass('skip-active') ? 1 : 0;

				//Hide all stubs
				skipLinks.removeClass('skip-active');
				skipContents.removeClass('skip-active');

				//Toggle stubs
				if (isSkipContentOpen) {
					self.removeClass('skip-active');
				} else {
					self.addClass('skip-active');
					elem.addClass('skip-active');
				}
			});

		}); //end: on document ready





		jQuery(function($) {

			var StickyHeader = {

				stickyThreshold : 960
				, isSticky : false
				, isSuspended : false
				, headerContainer : $('.header-container')
				, stickyContainer : $('.sticky-container')	//.nav-container
				, stickyContainerOffsetTop : 55

				, init : function()
				{
					StickyHeader.stickyContainerOffsetTop =
						StickyHeader.stickyContainer.offset().top + StickyHeader.stickyContainer.outerHeight();

					StickyHeader.applySticky();
					StickyHeader.hookToScroll();

					if (StickyHeader.stickyThreshold > 0)
					{
						enquire.register('(max-width: ' + (StickyHeader.stickyThreshold - 1) + 'px)', {
							match: StickyHeader.suspendSticky,
							unmatch: StickyHeader.unsuspendSticky
						});
					}
				}

				, applySticky : function()
				{
					if (StickyHeader.isSuspended) return;

					var viewportOffsetTop = $(window).scrollTop();
					if (viewportOffsetTop > StickyHeader.stickyContainerOffsetTop)
					{
						if (!StickyHeader.isSticky)
						{
							StickyHeader.activateSticky();
						}
					}
					else
					{
						if (StickyHeader.isSticky)
						{
							StickyHeader.deactivateSticky();
						}
					}
				}

				, activateSticky : function()
				{
					var height = StickyHeader.stickyContainer.outerHeight();
					StickyHeader.headerContainer.css('padding-bottom', height); //Fill in the space of the removed container
					//$('.page').css('padding-top', height); //Fill in the space of the removed container

					StickyHeader.headerContainer.addClass('sticky-header');
					StickyHeader.stickyContainer.css('margin-top', '-' + height + 'px').animate({'margin-top': '0'}, 200, 'easeOutCubic');
					//StickyHeader.stickyContainer.css('opacity', '0').animate({'opacity': '1'}, 300, 'easeOutCubic');
					StickyHeader.isSticky = true;
				}

				, deactivateSticky : function()
				{
					StickyHeader.headerContainer.css('padding-bottom', '');
					//$('.page').css('padding-top', '');

					StickyHeader.headerContainer.removeClass('sticky-header');
					StickyHeader.isSticky = false;
				}

				, suspendSticky : function()
				{
					StickyHeader.isSuspended = true;
					StickyHeader.deactivateSticky();
				}

				, unsuspendSticky : function()
				{
					StickyHeader.isSuspended = false;
					StickyHeader.applySticky();
				}

				, hookToScroll : function()
				{
					$(window).on("scroll", StickyHeader.applySticky);
				}

				, hookToScrollDeferred : function()
				{
					var windowScrollTimeout;
					$(window).on("scroll", function() {
						clearTimeout(windowScrollTimeout);
						windowScrollTimeout = setTimeout(function() {
							StickyHeader.applySticky();
						}, 50);
					});
				}

			}; //end: StickyHeader

			StickyHeader.init();

		}); //end: on document ready


//]]>
                </script>



                <div class="footer-container">
                    <div class="footer-container2">

                        <div class="footer-top-container section-container">
                            <div class="footer-top footer container  show-bg">
                                <div class="inner-container">

                                </div> <!-- end: footer-top section -->

                            </div> <!-- end: inner-container -->
                        </div> <!-- end: footer-top -->
                    </div>





                    <div class="footer-primary-container section-container">
                        <div class="footer-primary footer container show-bg show-bg">
                            <div class="inner-container">

                                <div class="section clearer">
                                    <div class=" grid12-12">
                                        <div class="std">
                                            <div class="grid12-3">
                                                <div class="collapsible mobile-collapsible">

                                                    <h6 class="block-title heading">About Ultimo</h6>
                                                    <div class="block-content">
                                                        <img src="http://ultimo.infortis-themes.com/demo/media/wysiwyg/infortis/ultimo/custom/logo-small.png" alt="Ultimo Theme" style="padding-bottom:10px;" />
                                                        <div class="feature first last">
                                                            <p>Ultimo is a premium Magento theme with advanced admin module. It’s extremely customizable, easy to use and fully responsive.</p>
                                                            <h5><a class="go" href="http://themeforest.net/item/ultimo-fluid-responsive-magento-theme/3231798?ref=infortis">Buy this theme</a></h5>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="grid12-3">
                                                <div class="collapsible mobile-collapsible">

                                                    <h6 class="block-title heading">Theme Features</h6>
                                                    <div class="block-content">
                                                        <ul class="bullet">
                                                            <li><a href="http://ultimo.infortis-themes.com/demo/second2/ultimo-responsive-magento-theme/">Theme Features</a></li>
                                                            <li><a href="http://ultimo.infortis-themes.com/demo/second2/typography/">Typography</a></li>
                                                            <li><a href="#">Some Sample Link</a></li>
                                                            <li><a href="#">Meat Our Best Partners</a></li>
                                                            <li><a href="#">Latest Work Samples</a></li>
                                                            <li><a href="#">Our Other Projects</a></li>
                                                            <li><a href="#">One Click To Join Us</a></li>
                                                            <li><a href="#">Follow Us On Twitter</a></li>
                                                            <li><a href="http://infortis-themes.com/">Magento Themes</a></li>
                                                            <li><a href="#">Ecommerce</a></li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="grid12-3">
                                                <div class="collapsible mobile-collapsible">

                                                    <h6 class="block-title heading">Key Features</h6>
                                                    <div class="block-content">
                                                        <div class="feature feature-icon-hover indent first">
                                                            <span class="ib ic ic-char">1</span>
                                                            <p class="no-margin">Unlimited colors, hundreds of customizable elements</p>
                                                        </div>
                                                        <div class="feature feature-icon-hover indent">
                                                            <span class="ib ic ic-char">2</span>
                                                            <p class="no-margin ">Customizable responsive layout based on fluid grid</p>
                                                        </div>
                                                        <div class="feature feature-icon-hover indent">
                                                            <span class="ib ic ic-char">3</span>
                                                            <p class="no-margin ">50+ placeholders to display custom content</p>
                                                        </div>
                                                        <div class="feature feature-icon-hover indent">
                                                            <span class="ib ic ic-char">4</span>
                                                            <p class="no-margin ">Create your custom sub-themes (variants)</p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="grid12-3">
                                                <div class="collapsible mobile-collapsible">

                                                    <h6 class="block-title heading">Company Info</h6>
                                                    <div class="block-content">
                                                        <div class="feature feature-icon-hover indent first">
                                                            <span class="ib ic ic-phone ic-lg"></span>
                                                            <p class="no-margin ">Call Us +001 555 801<br />Fax +001 555 802</p>
                                                        </div>
                                                        <div class="feature feature-icon-hover indent">
                                                            <span class="ib ic ic-mobile ic-lg"></span>
                                                            <p class="no-margin ">+77 123 1234<br />+42 98 9876</p>
                                                        </div>
                                                        <div class="feature feature-icon-hover indent">
                                                            <span class="ib ic ic-letter ic-lg"></span>
                                                            <p class="no-margin ">boss@example.com<br />me@example.com</p>
                                                        </div>
                                                        <div class="feature feature-icon-hover indent last">
                                                            <span class="ib ic ic-skype ic-lg"></span>
                                                            <p class="no-margin ">Skype: samplelogin<br />skype-support</p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end: footer-primary section -->
                        </div> <!-- end: footer-primary -->
                    </div>
                    <div class="footer-bottom-container section-container">
                        <div class="footer-bottom footer container  show-bg">
                            <div class="inner-container">

                                <div class="section clearer">

                                    <div class="item item-left">
                                        <p class="footer-copyright">
                                            Copyright &copy; 2014 Space-Game<br />
                                            Online shop for World OF Warcraft.
                                        </p>
                                    </div>




                                </div> <!-- end: footer-bottom section -->

                            </div> <!-- end: inner-container -->
                        </div> <!-- end: footer-bottom -->
                    </div>


                </div> <!-- end: footer-container2 -->
            </div> <!-- end: footer-container -->


            <script type="text/javascript">
                //<![CDATA[

                var gridItemsEqualHeightApplied = false;
                function setGridItemsEqualHeight($) {
                    var $list = $('.category-products-grid');
                    var $listItems = $list.children();

                    var centered = $list.hasClass('centered');
                    var gridItemMaxHeight = 0;
                    $listItems.each(function () {

                        $(this).css("height", "auto"); var $object = $(this).find('.actions');

                        if (centered) {
                            var objectWidth = $object.width();
                            var availableWidth = $(this).width();
                            var space = availableWidth - objectWidth;
                            var leftOffset = space / 2;
                            $object.css("padding-left", leftOffset + "px");
                        }

                        var bottomOffset = parseInt($(this).css("padding-top"));
                        if (centered) bottomOffset += 10;
                        $object.css("bottom", bottomOffset + "px");

                        if ($object.is(":visible")) {
                            var objectHeight = $object.height();
                            $(this).css("padding-bottom", (objectHeight + bottomOffset) + "px");
                        }


                        gridItemMaxHeight = Math.max(gridItemMaxHeight, $(this).height());
                    });

                    //Apply max height
                    $listItems.css("height", gridItemMaxHeight + "px");
                    gridItemsEqualHeightApplied = true;

                }



                jQuery(function ($) {

                    $('.collapsible').each(function (index) {
                        $(this).prepend('<span class="opener"></span>');
                        if ($(this).hasClass('active')) {
                            $(this).children('.block-content').css('display', 'block');
                        }
                        else {
                            $(this).children('.block-content').css('display', 'none');
                        }
                    });
                    $('.collapsible .opener').click(function () {

                        var parent = $(this).parent();
                        if (parent.hasClass('active')) {
                            $(this).siblings('.block-content').stop(true).slideUp(300, "easeOutCubic");
                            parent.removeClass('active');
                        }
                        else {
                            $(this).siblings('.block-content').stop(true).slideDown(300, "easeOutCubic");
                            parent.addClass('active');
                        }

                    });


                    var ddOpenTimeout;
                    var dMenuPosTimeout;
                    var DD_DELAY_IN = 200;
                    var DD_DELAY_OUT = 0;
                    var DD_ANIMATION_IN = 0;
                    var DD_ANIMATION_OUT = 0;

                    $('.clickable-dropdown > .dropdown-heading').click(function () {
                        $(this).parent().addClass('open');
                        $(this).parent().trigger('mouseenter');
                    });

                    //$('.dropdown-heading').on('click', function(e) {
                    $(document).on('click', '.dropdown-heading', function (e) {
                        e.preventDefault();
                    });

                    $(document).on('mouseenter', '.dropdown', function () {

                        var ddToggle = $(this).children('.dropdown-heading');
                        var ddMenu = $(this).children('.dropdown-content');
                        var ddWrapper = ddMenu.parent();
                        ddMenu.css("left", "");
                        ddMenu.css("right", "");

                        if ($(this).hasClass('clickable-dropdown')) {
                            if ($(this).hasClass('open')) {
                                $(this).children('.dropdown-content').stop(true, true).delay(DD_DELAY_IN).fadeIn(DD_ANIMATION_IN, "easeOutCubic");
                            }
                        }
                        else {
                            clearTimeout(ddOpenTimeout);
                            ddOpenTimeout = setTimeout(function () {

                                ddWrapper.addClass('open');

                            }, DD_DELAY_IN);

                            //$(this).addClass('open');
                            $(this).children('.dropdown-content').stop(true, true).delay(DD_DELAY_IN).fadeIn(DD_ANIMATION_IN, "easeOutCubic");
                        }

                        clearTimeout(dMenuPosTimeout);
                        dMenuPosTimeout = setTimeout(function () {

                            if (ddMenu.offset().left < 0) {
                                var space = ddWrapper.offset().left; ddMenu.css("left", (-1) * space);
                                ddMenu.css("right", "auto");
                            }

                        }, DD_DELAY_IN);

                    }).on('mouseleave', '.dropdown', function () {

                        var ddMenu = $(this).children('.dropdown-content');
                        clearTimeout(ddOpenTimeout); ddMenu.stop(true, true).delay(DD_DELAY_OUT).fadeOut(DD_ANIMATION_OUT, "easeInCubic");
                        if (ddMenu.is(":hidden")) {
                            ddMenu.hide();
                        }
                        $(this).removeClass('open');
                    });



                    $(".main").addClass("show-bg");



                    var windowScroll_t;
                    $(window).scroll(function () {

                        clearTimeout(windowScroll_t);
                        windowScroll_t = setTimeout(function () {

                            if ($(this).scrollTop() > 100) {
                                $('#scroll-to-top').fadeIn();
                            }
                            else {
                                $('#scroll-to-top').fadeOut();
                            }

                        }, 500);

                    });

                    $('#scroll-to-top').click(function () {
                        $("html, body").animate({ scrollTop: 0 }, 600, "easeOutCubic");
                        return false;
                    });




                    var startHeight;
                    var bpad;
                    $('.category-products-grid').on('mouseenter', '.item', function () {

                        if ($(window).width() >= 320) {

                            if (gridItemsEqualHeightApplied === false) {
                                return false;
                            }

                            startHeight = $(this).height();
                            $(this).css("height", "auto"); //Release height
                            $(this).find(".display-onhover").fadeIn(400, "easeOutCubic"); //Show elements visible on hover
                            var h2 = $(this).height();

                            ////////////////////////////////////////////////////////////////
                            var addtocartHeight = 0;
                            var addtolinksHeight = 0;

                            //addtocartHeight = $(this).find('.btn-cart').height(); //obsolete
                            var buttonOrStock = $(this).find('.btn-cart');
                            if (buttonOrStock.length == 0) buttonOrStock = $(this).find('.availability');
                            addtocartHeight = buttonOrStock.height();


                            var addtolinksEl = $(this).find('.add-to-links');
                            if (addtolinksEl.hasClass("addto-onimage") == false)
                                addtolinksHeight = addtolinksEl.innerHeight(); //.height();

                            var h3 = h2 + addtocartHeight + addtolinksHeight;
                            var diff = 0;
                            if (h3 < startHeight) {
                                $(this).height(startHeight);
                            }
                            else {
                                $(this).height(h3); diff = h3 - startHeight;
                            }
                            ////////////////////////////////////////////////////////////////

                            $(this).css("margin-bottom", "-" + diff + "px");
                        }
                    }).on('mouseleave', '.item', function () {

                        if ($(window).width() >= 320) {

                            //Clean up
                            $(this).find(".display-onhover").stop(true).hide();
                            $(this).css("margin-bottom", "");

                            $(this).height(startHeight);

                        }
                    });




                    $('.products-grid, .products-list').on('mouseenter', '.item', function () {
                        $(this).find(".alt-img").fadeIn(400, "easeOutCubic");
                    }).on('mouseleave', '.item', function () {
                        $(this).find(".alt-img").stop(true).fadeOut(400, "easeOutCubic");
                    });



                    $('.fade-on-hover').on('mouseenter', function () {
                        $(this).animate({ opacity: 0.75 }, 300, 'easeInOutCubic');
                    }).on('mouseleave', function () {
                        $(this).stop(true).animate({ opacity: 1 }, 300, 'easeInOutCubic');
                    });



                    var dResize = {

                        winWidth: 0
                , winHeight: 0
                , windowResizeTimeout: null

                , init: function () {
                    dResize.winWidth = $(window).width();
                    dResize.winHeight = $(window).height();
                    dResize.windowResizeTimeout;

                    $(window).on('resize', function (e) {
                        clearTimeout(dResize.windowResizeTimeout);
                        dResize.windowResizeTimeout = setTimeout(function () {
                            dResize.onEventResize(e);
                        }, 50);
                    });
                }

                , onEventResize: function (e) {
                    //Prevent from executing the code in IE when the window wasn't actually resized
                    var winNewWidth = $(window).width();
                    var winNewHeight = $(window).height();

                    //Code in this condition will be executed only if window was actually resized
                    if (dResize.winWidth != winNewWidth || dResize.winHeight != winNewHeight) {
                        //Trigger deferred resize event
                        $(document).trigger("themeResize", e);

                        //Additional code executed on deferred resize
                        dResize.onEventDeferredResize();
                    }

                    //Update window size variables
                    dResize.winWidth = winNewWidth;
                    dResize.winHeight = winNewHeight;
                }

                , onEventDeferredResize: function () //Additional code, execute after window was actually resized
                {
                    //Products grid: equal height of items
                    setGridItemsEqualHeight($);

                }

                    }; //end: dResize

                    dResize.init();



                }); //end: on document ready



                jQuery(window).load(function () {

                    setGridItemsEqualHeight(jQuery);

                }); //end: jQuery(window).load(){...}



                //]]>
            </script>
        </div>
    </div>
    </div> <!-- end: root-wrapper -->
</body>
</html>
