@using MyShop.Models.Entities
@model Item

<div class="main-container col1-layout">
    <div class="main-before-top-container"></div>
    <div class="main container">
        <div class="inner-container">
            @Html.Partial("PathLink", Model.Catalog)
            <div class="preface"></div>
            <div class="col-main">

                <div id="messages_product_view"></div>
                <div class="product-view">

                    <form action="http://ultimo.infortis-themes.com/demo/second2/checkout/cart/add/uenc/aHR0cDovL3VsdGltby5pbmZvcnRpcy10aGVtZXMuY29tL2RlbW8vc2Vjb25kMi9waG9uZTEuaHRtbD9fX19TSUQ9VQ,,/product/21/" method="post" id="product_addtocart_form" enctype="multipart/form-data">


                        <div class="product-img-column grid12-4">

                            <div class="img-box img-box-style1">




                                <p class="product-image " style="max-width: 300px;">
                                    <img src="http://ultimo.infortis-themes.com/demo/media/catalog/product/cache/3/image/363x/040ec09b1e35df139433887a97daa66f/p/h/phone02.jpg" />
                                </p>



                            </div> <!-- end: img-box -->

                            <span class="sticker-wrapper top-left"><span class="sticker new">New</span></span>

                        </div>

                        <div class="product-shop grid12-5">

                            <div class="product-name">
                                <h1>@Model.Name</h1>
                            </div>



                            <div class="short-description">
                                <div class="std">@Model.Description</div>
                            </div>

                            <div class="product-type-data">
                                <span class="availability-only product-action">
                                    <span class="ic ic-lowstock icon-color-productview"></span>
                                    <span class="label">Only<strong>10</strong>left</span>
                                </span>
                                <p class="availability in-stock">Availability: <span>In stock</span></p>


                                <div class="price-box">
                                    <span class="regular-price" id="product-price-21">
                                        <span class="price">@Model.PriceDesc</span>
                                    </span>

                                </div>
                            </div>

                            <div class="container1-wrapper">
                                <div class="product-options" id="product-options-wrapper">
                                    <dl>

                                        <dt><label class="required"><em>*</em>Memory</label></dt>
                                        <dd>
                                            <div class="input-box">
                                                <select name="options[7]" id="select_7" class=" required-entry product-custom-option" title="" onchange="opConfig.reloadPrice()"><option value="">-- Please Select --</option><option value="15" price="6316.8">16 GB +RUB6,316.80</option><option value="16" price="9475.2">32 GB +RUB9,475.20</option><option value="17" price="12633.6">64 GB +RUB12,633.60</option></select>
                                            </div>
                                        </dd>

                                        <dt><label class="required"><em>*</em>Additional Accessories</label></dt>
                                        <dd class="last">
                                            <div class="input-box">
                                                <ul id="options-6-list" class="options-list">
                                                    <li>
                                                        <input type="checkbox" class="checkbox  validate-one-required-by-name product-custom-option" onclick="opConfig.reloadPrice()" name="options[6][]" id="options_6_2" value="14" price="947.52" /><span class="label"><label for="options_6_2">Anti-Scratch Case <span class="price-notice">+<span class="price">RUB947.52</span></span></label></span>
                                                        <script type="text/javascript">$('options_6_2').advaiceContainer = 'options-6-container'; $('options_6_2').callbackFunction = 'validateOptionsCallback';</script>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="checkbox  validate-one-required-by-name product-custom-option" onclick="                                                                opConfig.reloadPrice()" name="options[6][]" id="options_6_3" value="13" price="1579.2" /><span class="label"><label for="options_6_3">Headphones <span class="price-notice">+<span class="price">RUB1,579.20</span></span></label></span>
                                                        <script type="text/javascript">$('options_6_3').advaiceContainer = 'options-6-container'; $('options_6_3').callbackFunction = 'validateOptionsCallback';</script>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" class="checkbox  validate-one-required-by-name product-custom-option" onclick="                                                                opConfig.reloadPrice()" name="options[6][]" id="options_6_4" value="23" price="1263.36" /><span class="label"><label for="options_6_4">Super Anti-Glare Case <span class="price-notice">+<span class="price">RUB1,263.36</span></span></label></span>
                                                        <script type="text/javascript">$('options_6_4').advaiceContainer = 'options-6-container'; $('options_6_4').callbackFunction = 'validateOptionsCallback';</script>
                                                    </li>
                                                </ul>                                    <span id="options-6-container"></span>
                                            </div>
                                        </dd>
                                    </dl>

                                    <p class="required">* Required Fields</p>
                                </div>
                                <script type="text/javascript">decorateGeneric($$('#product-options-wrapper dl'), ['last']);</script>
                                <div class="product-options-bottom">
                                    <div class="add-to-cart left-side">
                                        <div class="qty-wrapper">
                                            <label for="qty">Quantity:</label>
                                            <input type="text" name="qty" id="qty" maxlength="12" value="1" class="input-text qty" />
                                        </div>
                                        <button type="button" id="product-addtocart-button" class="button btn-cart" onclick="productAddToCart(@Model.Id)"><span><span>Add to Cart</span></span></button>
                                    </div>
                                    <div class="paypal-wrapper"></div>
                                </div>
                            </div>


                        </div> <!-- end: product-shop -->

                        <div class="product-secondary-column grid12-3 custom-sidebar-right">
                            <div class="inner">

                                <div class="margin-bottom">

                                    <div class="box-brand feature-wrapper bottom-border">
                                        <a class="fade-on-hover" href="http://ultimo.infortis-themes.com/demo/second2/catalogsearch/result/?q=Apple"><img src="http://ultimo.infortis-themes.com/demo/media/wysiwyg/infortis/brands/apple.png" /></a>
                                    </div>

                                </div>


                                <div class="feature-wrapper margin-top block_product_secondary_bottom">
                                    <div class="feature feature-icon-hover indent first">
                                        <span class="ib ic ic-lg ic-plane"></span>
                                        <p class="no-margin ">@Model.AdditionalInfo[0]</p>
                                    </div>
                                    <div class="feature feature-icon-hover indent">
                                        <span class="ib ic ic-lg ic-phone"></span>
                                        <p class="no-margin ">@Model.AdditionalInfo[1]</p>
                                    </div>
                                    <div class="feature feature-icon-hover indent">
                                        <span class="ib ic ic-lg ic-reload"></span>
                                        <p class="no-margin ">@Model.AdditionalInfo[2]</p>
                                    </div>
                                    <div class="feature feature-icon-hover indent last">
                                        <span class="ib ic ic-lg ic-star"></span>
                                        <p class="no-margin ">@Model.AdditionalInfo[3]</p>
                                    </div>



                                </div>



                            </div>
                        </div> <!-- end: product-secondary-column -->


                    </form>
                    <script type="text/javascript">
                        //<![CDATA[
                        var productAddToCartForm = new VarienForm('product_addtocart_form');
                        function productAddToCart(id) {
                            $.ajax(
                                {
                                    type: "GET",
                                    url: "/cart/additem/" + id,
                                    success: function (data) {
                                        var result_window = $("#messages_product_view");
                                        result_window.empty();
                                        result_window.html(data);

                                    }
                                })
                             
                          }
                        //]]>
                    </script>



                </div> <!-- end: product-view -->

            </div>
            <div class="postscript"></div>
        </div>
    </div>
</div>
